alembic==1.8.1
anyio==3.6.1
click==8.1.3
fastapi==0.79.0
greenlet==1.1.2
h11==0.13.0
httptools==0.4.0
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.9.0
Mako==1.2.1
MarkupSafe==2.1.1
pydantic==1.9.1
python-dotenv==0.20.0
PyYAML==6.0
sniffio==1.2.0
SQLAlchemy==1.4.39
starlette==0.19.1
typing-extensions==4.3.0
uvicorn==0.18.2
uvloop==0.16.0
watchfiles==0.16.1
websockets==10.3
zipp==3.8.1alembic==1.8.1
anyio==3.6.1
async-timeout==4.0.2
click==8.1.3
dependency-injector==4.39.1
Deprecated==1.2.13
fastapi==0.79.0
greenlet==1.1.2
h11==0.13.0
httptools==0.4.0
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.9.0
Mako==1.2.1
MarkupSafe==2.1.1
packaging==21.3
pydantic==1.9.1
pyparsing==3.0.9
python-dotenv==0.20.0
PyYAML==6.0
redis==4.3.4
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.39
starlette==0.19.1
-e git+git@github.com:ale180192/weather-apirest.git@c5f002e18be05c15c85e71692b784487f4a925bd#egg=travels&subdirectory=src
typing-extensions==4.3.0
uvicorn==0.18.2
uvloop==0.16.0
watchfiles==0.16.1
websockets==10.3
wrapt==1.14.1
zipp==3.8.1
